.coach-home-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width:40%;
    border-radius: 0.5rem;
    margin-left: 30%;
    height: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.img-heder{
    display: flex;
    flex-direction: row;
}
.coach-home-card img {
    width: 60px;
    height: 60px;
    padding: 3rem 3rem 1.5rem
}
.coach-home-card p{
    color: white;
}