.coach-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 40%;
    border-radius: 0.5rem;
    margin-left: 30%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.img-heder{
    display: flex;
    flex-direction: row;
}
.coach-card h2{
    color: white;
    }
.coach-card img {
    width: 60px;
    height: 60px;
    padding: 3rem 3rem 1.5rem
}

.coach-card button {
    background-color: rgb(60, 149, 250);
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
}